.export_btn,.search_btn {
    background: yellow;
    border: none;
}
.export_btn:hover,.search_btn:hover{
    background: yellow;
}
.dropdown_btn {
    background: none !important;
    border: none;
    color: yellow;
    font-size: 20px;
}
body{
    color:yellow;
    background-color: black;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown_btn:hover {
    color: rgb(0, 255, 85) !important;
}